# Rust
/target/

# C# build output
csharp/**/bin/
csharp/**/obj/

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# MP relay server
crates/dc_relay

# Project specific
/tools/dump/
/tools/TypeDumper
/claude.md
